@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body,
html {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: #242b33;
  color: #fff;
  font-size: 16px;
}
body._lock {
  overflow: hidden;
}

a {
  color: #fff;
  transition: all 0.1s ease 0s;
}
a:hover {
  color: #d4c17f;
}

.container {
  max-width: 1100px;
  padding: 0 18px;
  margin: 0 auto;
}

body.locked {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("./../img/header/header-bg.jpg"), lightgray 50%/cover no-repeat;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 96px;
}
.header__logo {
  position: relative;
  z-index: 6;
}
.header__title {
  padding: 200px 0 0 0;
  text-align: center;
}
.header__title-text {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;
  color: #d4c17f;
  max-width: 556px;
  margin: 0 auto 81px auto;
}
.header__title-img {
  max-width: 40px;
  position: relative;
  z-index: 1;
  margin: 0 0 200px 0;
  transform: translate(0, 0%);
  opacity: 1;
  transition: all 0.3s ease 0s;
}
.header__title-img._active {
  transform: translate(0, -180%);
  opacity: 0;
}
.header__footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 74px 0;
}
.header__footer-link {
  display: inline-flex;
  align-items: center;
  text-align: center;
}
.header__footer-link:not(:last-child) {
  margin: 0 98px 0 0;
}
.header__footer-link img:not(:last-child) {
  margin: 0 14px 0 0;
}
.menu__list {
  display: flex;
}
.menu__item:not(:last-child) {
  margin: 0 20px 0 0;
}
.menu__link {
  padding: 10px 10px;
}
.menu__icon {
  display: none;
}

/*------------адаптив---------------------*/
@media (max-width: 767px) {
  .header__title {
    padding: 100px 0 0 0;
  }
  .header__title-text {
    font-size: 40px;
  }
  .header__title img {
    margin: 0 0 100px 0;
  }
  .header__footer {
    flex-direction: column;
    align-items: center;
  }
  .header__footer-link:not(:last-child) {
    margin: 0 0 10px 0;
  }
  .menu__icon {
    z-index: 50;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.2s ease 0s;
    background-color: #d4c17f;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .menu__list {
    display: block;
  }
  .menu__list > li:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .menu__link {
    font-size: 28px;
  }
  .menu__body {
    position: fixed;
    z-index: 5;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 120px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    height: 96px;
    background-color: #242b33;
    transition: left 0.3s ease 0s;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    left: 0;
  }
}
/*---------------------------------*/
/*---main--------------------------------------*/
.main {
  flex: 1 1 auto;
}
/*--------------------------------------*/
.privileges__container {
  padding: 120px 150px 120px 150px;
  position: relative;
  z-index: 1;
}
.privileges__bg {
  position: absolute;
  z-index: 0;
  top: 22%;
  right: -5%;
}
.privileges__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -70px;
}
.privileges__body {
  flex: 0 0 25%;
}
.privileges__item {
  text-align: center;
  margin: 0 35px;
}
.privileges__img {
  width: 80px;
}
.privileges__img:not(:last-child) {
  margin: 0 0 53px 0;
}
.privileges__text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 135%;
  max-width: 193px;
  margin: 0 auto;
}

.anim.privileges__container {
  left: -100%;
  transition: all 1s ease 0s;
}
.anim.privileges__container.active {
  left: 0;
}
.anim.apartments__container {
  opacity: 0;
  transition: all 1s ease 0s;
}
.anim.apartments__container.active {
  opacity: 1;
}
.anim.watching__container {
  position: relative;
  right: -100%;
  transition: all 1s ease 0s;
}
.anim.watching__container.active {
  right: 0;
}
.anim.video__container {
  opacity: 0;
  transition: all 1s ease 0s;
}
.anim.video__container.active {
  opacity: 1;
}
.anim.map__container {
  position: relative;
  left: -100%;
  transition: all 1s ease 0s;
}
.anim.map__container.active {
  left: 0;
}

/*tablet*/
@media (max-width: 991.98px) {
  .privileges__container {
    padding: 70px;
  }
  .privileges__body {
    flex: 0 0 50%;
  }
  .privileges__body:not(:last-child) {
    margin: 0 0 35px 0;
  }
}
/*mobile*/
@media (max-width: 478.98px) {
  .privileges__container {
    padding: 20px 20px 60px 20px;
  }
  .privileges__body {
    flex: 0 0 100%;
  }
  .privileges__body:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .privileges__img:not(:last-child) {
    margin: 0 0 23px 0;
  }
}
/*--------------------------------------------*/
.apartments__container {
  padding: 0 15px 30px 15px;
  position: relative;
}
.apartments__bg {
  position: absolute;
  top: 8%;
  left: -15%;
}
.apartments__title {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  color: #d4c17f;
  margin: 0 0 88px 0;
}
.cards__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -60px 0;
}
.cards__body {
  flex: 0 0 50%;
}
.cards__item {
  position: relative;
  z-index: 1;
  display: inline-block;
  max-width: 540px;
  min-width: 320px;
  margin: 30px;
  overflow: hidden;
}
.cards__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
}
.cards__item::before {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 5;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease 0s;
}
.cards__item:hover .cards__img {
  transform: scale(1.1);
}
.cards__item:hover::before {
  opacity: 1;
}
.cards__item:hover .cards__title {
  color: #d4c17f;
}
.cards__title {
  position: absolute;
  z-index: 2;
  bottom: 44px;
  left: 50px;
  max-width: 310px;
  transition: all 0.2s ease 0s;
}
.cards__img {
  width: 100%;
  position: relative;
  z-index: 0;
  transition: all 0.2s ease 0s;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: relative;
  z-index: -1;
  transition: all 0.4s ease 0s;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__body {
  padding: 0 35px;
  max-width: 900px;
  position: relative;
  z-index: 1000;
  transform: scale(0, 0);
  transition: all 0.4s ease 0s;
  border-radius: 15px;
}
.modal__content {
  position: relative;
}
.modal__close {
  color: #fff;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 45px;
}
.modal__img {
  width: 100%;
  border-radius: 15px;
}

.modal._open {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}

.modal._open .modal__body {
  transform: scale(1, 1);
}

/*tablet*/
@media (max-width: 991.98px) {
  .apartments__title {
    text-align: center;
  }
  .apartments__container {
    padding: 0 15px 10px 15px;
  }
  .cards__item {
    margin: 15px;
  }
}
/*mobile*/
/*----------------------------------------------*/
.watching {
  background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%), url(./../img/main/watching/bg.jpg), lightgray 50%/cover no-repeat;
}
.watching__container {
  padding: 180px 18px 180px 18px;
}
.watching__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.watching__item {
  flex: 0 0 50%;
}
.watching__item-title {
  flex: 1 1 100%;
}
.watching__item-title:not(:last-child) {
  margin-bottom: 15px;
}
.watching__body {
  margin: 0 15px;
}
.watching__title {
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #d4c17f;
}
.watching__text {
  font-size: 16px;
  line-height: 150%;
}
/*----------------------------------------------*/
.form {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form__item {
  flex: 0 0 50%;
}
.form__item-body {
  margin: 15px;
  max-width: 255px;
}
.form__input {
  width: 100%;
  padding: 12px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 192%;
  transition: all 0.2s ease 0s;
}
.form__input::-moz-placeholder {
  color: #bababa;
}
.form__input::placeholder {
  color: #bababa;
}
.form__input:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.8);
}
.form__text {
  font-size: 13px;
  line-height: 123%;
  text-align: center;
}
.form__button {
  width: 100%;
  padding: 12px;
  text-align: center;
  background-color: #d4c17f;
  font-size: 14px;
  line-height: 192%;
  transition: all 0.2s ease 0s;
}
.form__button:hover {
  box-shadow: 0 0 40px #d4c17f, 0 0 10px #d4c17f;
}

/*tablet*/
@media (max-width: 991.98px) {
  .watching__container {
    padding: 100px 18px 100px 18px;
  }
  .watching__item {
    flex: 0 0 75%;
  }
  .watching__item:not(:last-child) {
    margin: 0 0 25px 0;
  }
  .watching__item-title:not(:last-child) {
    margin-bottom: 8px;
  }
}
/*mobile*/
@media (max-width: 767px) {
  .watching__item {
    flex: 1 1 auto;
  }
  .form {
    margin: -8px;
  }
  .form__item {
    flex: 1 1 50%;
  }
  .form__item-body {
    margin: 8px;
    min-width: 255px;
  }
}
/*------------------video--------------------------*/
.video__container {
  text-align: center;
}
.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
  transition: all 0.2s ease 0s;
  max-width: 720px;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(36, 43, 51, 0.8) 0%, rgba(36, 43, 51, 0.8) 100%);
}
.video__link:hover {
  box-shadow: 0 0 10px rgba(45, 52, 60, 0.2), 0 0 20px rgba(45, 52, 60, 0.8);
}
.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.5);
}
.video__icon {
  position: absolute;
  max-width: 100px;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease 0s;
}
/*------------map----------------------------*/
.map__container {
  padding: 180px 18px;
}
.map__title {
  margin: 0 0 88px 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #d4c17f;
}
.map__map-display {
  height: 358px;
  width: 100%;
  background: #626262;
}

/*tablet*/
@media (max-width: 991.98px) {
  .map__container {
    padding: 100px 18px 100px 18px;
  }
  .map__title {
    margin: 0 0 30px 0;
    font-size: 26px;
  }
}
/*---------------------------------------------*/
.footer {
  background: #2d343c;
}
.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.footer__logo {
  width: 134px;
  margin: 0 150px 0 0;
}
.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.links__item:not(:last-child) {
  margin: 0 0 15px 0;
}
.links__link {
  font-size: 14px;
  letter-spacing: 0.7px;
}
.links__link span {
  color: #d4c17f;
  font-weight: 700;
}
.links__social {
  margin: 20px 0 0 0;
}
.links__social a {
  max-height: 20px;
}
.links__social a:not(:last-child) {
  margin: 0 20px 0 0;
}

@media (max-width: 991.98px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__logo {
    margin: 0 0 25px 0;
  }
  .links__column {
    position: relative;
  }
  .links__column:not(:last-child) {
    margin: 0 20px 30px 0;
  }
}
/*стилизация карты*/
.map [class*=copyrights-pane] {
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.map:hover [class*=copyrights-pane] {
  opacity: 1;
}

[class*=gototech] {
  display: none !important;
}

[class*=ground-pane] {
  filter: grayscale(1) sepia(10%);
}

/*balloon*/
[class*=balloon__layout],
[class*=balloon__content] {
  background-color: #242b33 !important;
  color: #fff !important;
}

[class*=balloon__tail]::after {
  background-color: #242b33 !important;
}

[class*=balloon__layout],
[class*=balloon__content] a {
  color: var(--accent) !important;
}