// Base

// Reset base styles
@import "./base/reset.scss";
// Vars
@import "./base/vars";
// Base styles
@import "./base/base";

body.locked {
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.header {
	background:
		linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%),
		url("./../img/header/header-bg.jpg"),
		lightgray 50% / cover no-repeat;

	&__container {
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 96px;
	}
	&__logo {
		position: relative;
		z-index: 6;
	}
	&__menu {
	}

	&__title {
		padding: 200px 0 0 0;
		text-align: center;

		&-text {
			font-family: $font-accent;
			font-size: 48px;
			font-weight: 700;
			color: $accent;

			max-width: 556px;
			margin: 0 auto 81px auto;
		}
		&-img {
			max-width: 40px;
			position: relative;
			z-index: 1;
			margin: 0 0 200px 0;

			transform: translate(0, 0%);
			opacity: 1;
			transition: all 0.3s ease 0s;

			&._active {
				transform: translate(0, -180%);
				opacity: 0;
			}
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0 0 74px 0;
		&-link {
			display: inline-flex;
			align-items: center;
			text-align: center;
			&:not(:last-child) {
				margin: 0 98px 0 0;
			}
			& img {
				&:not(:last-child) {
					margin: 0 14px 0 0;
				}
			}
			& p {
			}
		}
	}
}

.menu {
	&__body {
	}
	&__list {
		display: flex;
	}
	&__item {
		&:not(:last-child) {
			margin: 0 20px 0 0;
		}
	}
	&__link {
		padding: 10px 10px;
	}
	&__icon {
		display: none;
	}
}
/*------------адаптив---------------------*/
@media (max-width: 767px) {
	.header {
		&__title {
			padding: 100px 0 0 0;
			&-text {
				font-size: 40px;
			}
			& img {
				margin: 0 0 100px 0;
			}
		}

		&__footer {
			flex-direction: column;
			align-items: center;
			&-link {
				&:not(:last-child) {
					margin: 0 0 10px 0;
				}
			}
		}
	}
	.menu {
		&__icon {
			z-index: 50;
			display: block;
			position: relative;
			width: 30px;
			height: 18px;
			cursor: pointer;

			& span,
			&::before,
			&::after {
				left: 0;
				position: absolute;
				height: 10%;
				width: 100%;
				transition: all 0.2s ease 0s;
				background-color: $accent;
			}
			&::before,
			&::after {
				content: "";
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			& span {
				top: 50%;
				transform: scale(1) translate(0, -50%);
			}
			&._active {
				& span {
					transform: scale(0) translate(0, -50%);
				}
				&::before {
					top: 50%;
					transform: rotate(-45deg) translate(0, -50%);
				}
				&::after {
					bottom: 50%;
					transform: rotate(45deg) translate(0, 50%);
				}
			}
		}
		&__list {
			display: block;

			& > li:not(:last-child) {
				margin: 0 0 30px 0;
			}
		}
		&__link {
			font-size: 28px;
		}
		&__body {
			position: fixed;
			z-index: 5;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: rgba($color: #000, $alpha: 0.9);
			padding: 120px 30px 30px 30px;
			transition: left 0.3s ease 0s;
			overflow: auto;

			&::before {
				content: "";
				position: fixed;
				width: 100%;
				top: 0;
				left: -100%;
				height: 96px;
				background-color: $dark;
				transition: left 0.3s ease 0s;
			}
			&._active {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
}
/*---------------------------------*/

/*---main--------------------------------------*/
.main {
	flex: 1 1 auto;

	&__privileges {
	}
	&__apartments {
	}
	&__form {
	}
}
/*--------------------------------------*/
.privileges {
	&__container {
		padding: 120px 150px 120px 150px;
		position: relative;
		z-index: 1;
	}
	&__bg {
		position: absolute;
		z-index: 0;
		top: 22%;
		right: -5%;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -70px;
	}
	&__body {
		flex: 0 0 25%;
	}

	&__item {
		text-align: center;
		margin: 0 35px;
	}

	&__img {
		width: 80px;
		&:not(:last-child) {
			margin: 0 0 53px 0;
		}
	}

	&__text {
		font-family: $font-secondary;
		font-size: 20px;
		line-height: 135%;

		max-width: 193px;
		margin: 0 auto;
	}
}
.anim {
	&.header__title-img {
	}
	&.privileges__container {
		left: -100%;
		transition: all 1s ease 0s;
	}
	&.privileges__container.active {
		left: 0;
	}
	&.apartments__container {
		opacity: 0;
		transition: all 1s ease 0s;
	}
	&.apartments__container.active {
		opacity: 1;
	}
	&.watching__container {
		position: relative;
		right: -100%;
		transition: all 1s ease 0s;
	}
	&.watching__container.active {
		right: 0;
	}
}

/*tablet*/
@media (max-width: 991.98px) {
	.privileges {
		&__container {
			padding: 70px;
		}
		&__body {
			flex: 0 0 50%;
			&:not(:last-child) {
				margin: 0 0 35px 0;
			}
		}
	}
}
/*mobile*/
@media (max-width: 478.98px) {
	.privileges {
		&__container {
			padding: 20px 20px 60px 20px;
		}
		&__body {
			flex: 0 0 100%;
			&:not(:last-child) {
				margin: 0 0 30px 0;
			}
		}
		&__img {
			&:not(:last-child) {
				margin: 0 0 23px 0;
			}
		}
	}
}
/*--------------------------------------------*/

.apartments {
	&__container {
		padding: 0 15px 30px 15px;
		position: relative;
	}
	&__bg {
		position: absolute;
		top: 8%;
		left: -15%;
	}

	&__title {
		font-family: $font-accent;
		font-size: 36px;
		font-weight: 700;
		color: $accent;
		margin: 0 0 88px 0;
	}

	&__cards {
	}
}

.cards {
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -60px 0;
	}
	&__body {
		flex: 0 0 50%;
	}

	&__item {
		position: relative;
		z-index: 1;
		display: inline-block;

		max-width: 540px;
		min-width: 320px;
		margin: 30px;
		overflow: hidden;

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: transparent;
			background-image: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
		}

		&::before {
			opacity: 0;
			content: "";
			position: absolute;
			z-index: 5;
			left: 15px;
			top: 15px;
			right: 15px;
			bottom: 15px;
			border: 3px double rgba(255, 255, 255, 0.4);
			transition: all 0.2s ease 0s;
		}

		&:hover .cards__img {
			transform: scale(1.1);
		}
		&:hover::before {
			opacity: 1;
		}
		&:hover .cards__title {
			color: $accent;
		}

		&._modalOpen {
		}
	}

	&__title {
		position: absolute;
		z-index: 2;
		bottom: 44px;
		left: 50px;
		max-width: 310px;
		transition: all 0.2s ease 0s;
	}
	&__img {
		width: 100%;
		position: relative;
		z-index: 0;
		transition: all 0.2s ease 0s;
	}
}

.modal {
	opacity: 0;
	visibility: hidden;
	position: relative;
	z-index: -1;

	transition: all 0.4s ease 0s;

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #000000, $alpha: 0.4);

		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__body {
		padding: 0 35px;
		max-width: 900px;
		position: relative;
		z-index: 1000;

		transform: scale(0, 0);
		transition: all 0.4s ease 0s;
		border-radius: 15px;
	}

	&__content {
		position: relative;
	}
	&__close {
		color: $white;

		position: absolute;
		top: 0px;
		right: 10px;
		font-size: 45px;
	}
	&__img {
		width: 100%;
		border-radius: 15px;
	}
}
.modal._open {
	opacity: 1;
	visibility: visible;
	z-index: 1000;
}

.modal._open .modal__body {
	transform: scale(1, 1);
}

/*tablet*/
@media (max-width: 991.98px) {
	.apartments {
		&__title {
			text-align: center;
		}
		&__container {
			padding: 0 15px 10px 15px;
		}
	}
	.cards {
		&__item {
			margin: 15px;
		}
	}
}
/*mobile*/
@media (max-width: 767px) {
}

/*----------------------------------------------*/

.watching {
	background:
		linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%),
		linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%),
		url(./../img/main/watching/bg.jpg),
		lightgray 50% / cover no-repeat;
	&__container {
		padding: 180px 18px 180px 18px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__item {
		flex: 0 0 50%;
		&-title {
			flex: 1 1 100%;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	&__body {
		margin: 0 15px;
	}

	&__title {
		font-size: 36px;
		font-weight: 700;
		font-family: $font-accent;
		color: $accent;
	}

	&__text {
		font-size: 16px;
		line-height: 150%;
	}

	&__form {
	}
}

.form {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
	justify-content: center;
	align-items: center;
	text-align: center;
	&__item {
		flex: 0 0 50%;
	}

	&__item-body {
		margin: 15px;
		max-width: 255px;
	}

	&__input {
		width: 100%;
		padding: 12px;
		text-align: center;
		background: rgba($color: #fff, $alpha: 0.2);
		font-size: 14px;
		line-height: 192%;
		&::placeholder {
			color: #bababa;
		}

		transition: all 0.2s ease 0s;
		&:hover {
			box-shadow:
				0 0 10px rgba($color: $white, $alpha: 0.2),
				0 0 20px rgba($color: $white, $alpha: 0.8);
		}
	}

	&__text {
		font-size: 13px;
		line-height: 123%;
		text-align: center;
	}

	&__button {
		width: 100%;
		padding: 12px;
		text-align: center;
		background-color: $accent;
		font-size: 14px;
		line-height: 192%;

		transition: all 0.2s ease 0s;
		&:hover {
			box-shadow:
				0 0 40px $accent,
				0 0 10px $accent;
		}
	}
}

/*tablet*/
@media (max-width: 991.98px) {
	.watching {
		&__container {
			padding: 100px 18px 100px 18px;
		}
		&__item {
			flex: 0 0 75%;
			&:not(:last-child) {
				margin: 0 0 25px 0;
			}

			&-title {
				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}
		}
	}
}
/*mobile*/
@media (max-width: 767px) {
	.watching {
		&__item {
			flex: 1 1 auto;
		}
	}

	.form {
		margin: -8px;
		&__item {
			flex: 1 1 50%;
		}
		&__item-body {
			margin: 8px;
			min-width: 255px;
		}
	}
}
/*---------------------------------------------*/
.footer {
	background: $footer-bg;
	&__container {
		padding-top: 60px;
		padding-bottom: 60px;

		display: flex;
	}

	&__logo {
		width: 134px;
		margin: 0 150px 0 0;
	}

	&__links {
	}
}

.links {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__column {
	}

	&__item {
		&:not(:last-child) {
			margin: 0 0 15px 0;
		}
	}

	&__link {
		font-size: 14px;
		letter-spacing: 0.7px;
		& span {
			color: $accent;
			font-weight: 700;
		}
	}

	&__social {
		margin: 20px 0 0 0;
		& a {
			max-height: 20px;
			&:not(:last-child) {
				margin: 0 20px 0 0;
			}
		}
	}
}

@media (max-width: 991.98px) {
	.footer {
		&__container {
			flex-direction: column;
		}
		&__logo {
			margin: 0 0 25px 0;
		}
	}
	.links {
		&__column {
			position: relative;
			&:not(:last-child) {
				margin: 0 20px 30px 0;
			}
		}
	}
}
